body{
    margin: 0;
}

section{
    padding-top: 30px;
}

.feature-section, .showcase2-container, .call-to-action, .signup-wrapper{
    padding: 30px 0;
}

.row{
    margin-bottom: 0; 
}

.container{
    width: calc(100% - 10%);
}

.container-wide{
    width: calc(100% - 5%);
    margin: 0 auto;
}

.container-short{
    width: calc(100% - 20%);
    margin: 0 auto;
}

.nav-wrapper{
    display: flex;
    padding-top: 0.2%;
}

.nav-wrapper i{
    padding: 15px;
}

.logo-img{
    position: static;
    margin: 0 auto;
    padding-top: 22px; 
    height: auto; 
    width: 150px;
}

.nav-links{
    padding-left: 5px;
}

.nav-buttons{
    display: inline;
}

.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translateX(-100%);
}

.sidebar-wrapper{
    width: 100%;
    height: 100%;
}

.sidebar-header{
    width: 100%;
    padding: 40px 0px;
}

.sidebar-content{
    padding: 25px 20px;
}

.sidebar-content a{
    margin-top: 15px;
}

.sidebar-link{
    font-size: 20px;
    padding: 10px;
    color: rgba(0,0,0,.5)
}

#index-banner{
    background-image: url("/images/Friends.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding: 7% 0;
    max-height: 700px;
}

.header-title{
    color: white;
    font-size: 80px;
    margin-top: 0; 
    margin-bottom: 10px;
}

.header-subtitle{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.play-button{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.play-button>i{
    color: white;
    font-size: 6em;
}

.header-p{
    color: white;
    font-size: 14px;
    margin: 30px 0 20px 0;
}

.input-form-wrapper{
    width: calc(100% - 70%);
    margin: 0 auto;
}

.card .card-title {
    font-size: 1.2em;
}

.showcase-img{
    display: block;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
}

.showcase1-wrapper{
    width: 70%;
    margin-top: 120px;
}

.showcase2-wrapper{
    width: 70%;
    margin-top: 80px;
}

.showcase-text{
    font-size: 28px;
    margin: 0 90px;
    font-weight: 300;
    text-align: left;
}

.showcase-para{
    margin: 0 90px;
    padding-top: 10px;
    text-align: left;
    line-height: 17px;
    font-weight: 100;
}

.call-to-action{
    background-image: url("/images/Darkdesk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.testimonial-wrapper{
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}

.testimonial-wrapper>p{
    font-style: italic;
    font-weight: 100;
}

.testimonial-wrapper strong{
    float: right;
    margin-bottom: 15px;
}

.form-wrapper{
    width: 80%;
    margin: 0 auto;
}

.signup-form{
    border: none;
    border-radius: 3px;
    padding: 10px 40px 0 40px;
    margin: 40px;
}

.form-policy{
    font-weight: 100;
    font-size: 10px;
    text-align: center;
    margin-top: 20px; 
}


.footer-wrapper{
    background-image: url("/images/Footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 400px;
}

.footer-social-wrapper{
    padding-top: 40px;
}

.footer-icon{
    color: white;
    font-size: 5em;
}

.footer-copyright{
    margin: 60px 0 0 0;
    width: 100%;
    bottom: 0;
}

.footer-copyright>img{
    width: 200px;
    height: auto;
}

.footer-copyright>p{
    font-size: 12px;
}

#sidebar-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    pointer-events: none;
}